In [2]:
import Quandl

In [3]:
def get_stock(symbol, trim_start="2005-01-01", trim_end="2015-12-31"):
    return Quandl.get(symbol,authtoken='c2365v55yoZrWKxbVxwK', trim_start = trim_start, trim_end = trim_end)

In [6]:
get_stock('GOOG/NYSE_BRK_A')

                 Open       High        Low      Close  Volume
Date
2005-01-03   87910.00   88000.00   87100.00   87100.00     290
2005-01-04   87500.00   87700.00   85400.00   85901.00     540
2005-01-05   85701.00   86000.00   85700.00   85700.00     200
2005-01-06   85800.00   86300.00   85800.00   86192.00     330
2005-01-07   86200.00   87700.00   86200.00   87500.10     180
2005-01-10   86900.00   87790.00   86600.00   87790.00     200
2005-01-11   87100.00   87100.00   86390.00   86390.00     220
2005-01-12   86500.00   86800.00   86000.00   86300.00     180
2005-01-13   86100.00   86300.00   86000.00   86089.00     100
2005-01-14   86250.00   86250.00   85800.00   85850.00     140
2005-01-18   86100.00   86990.00   86000.00   86600.00     310
2005-01-19   86600.00   87400.00   86600.00   86895.00     280
2005-01-20   87200.00   87800.00   87200.00   87600.10     620
2005-01-21   87900.00   90500.00   87900.00   90000.00    1240
2005-01-24   90000.00   90000.00   89900.00   90000.00     340
2005-01-25   90000.00   90000.00   89100.00   89400.00     320
2005-01-26   89500.00   89500.00   88800.00   89190.00     130
2005-01-27   88900.00   88900.00   88000.00   88650.00     160
2005-01-28   88600.00   90300.00   88600.00   90000.00     780
2005-01-31   89900.00   90200.00   89100.10   89900.00     470
2005-02-01   89800.00   90850.00   89800.00   90850.00     400
2005-02-02   90750.00   90800.00   90400.00   90400.00     300
2005-02-03   90600.00   90600.00   90000.00   90100.00     380
2005-02-04   90100.00   91000.00   89900.00   90995.00     280
2005-02-07   90500.00   91400.00   90500.00   91400.00     280
2005-02-08   90900.00   91200.00   90200.00   91000.00     320
2005-02-09   90600.00   91100.00   90600.00   90800.00     200
2005-02-10   90500.00   91000.00   90500.00   90800.00     160
2005-02-11   90650.00   92000.00   90650.00   91700.10     290
2005-02-14   91900.00   91900.00   91400.00   91480.00     120
...               ...        ...        ...        ...     ...
2015-11-18  200100.00  204414.86  200100.00  204280.00     321
2015-11-19  204129.65  205297.85  203530.00  204901.00     264
2015-11-20  205500.00  206068.99  203989.00  204600.00     192
2015-11-23  204800.00  205130.00  203779.00  203779.00     145
2015-11-24  203320.00  203754.85  201253.01  203360.00     258
2015-11-25  203470.00  203805.00  202285.00  202285.00     229
2015-11-27  203044.78  203080.00  201624.00  201624.00      76
2015-11-30  202051.00  202566.75  200794.00  201360.00     156
2015-12-01  201850.00  204945.00  201850.00  204945.00     281
2015-12-02  204740.00  205015.00  202683.00  202930.00     160
2015-12-03  202800.00  202910.00  198540.00  198801.00     291
2015-12-04  199799.99  204705.31  199799.99  204500.00     497
2015-12-07  204473.00  204473.00  202060.00  203500.00     172
2015-12-08  202005.00  202200.00  199900.00  200105.00     310
2015-12-09  199760.00  201140.00  196850.00  197660.00     396
2015-12-10  197939.99  198825.99  197000.00  197505.00     379
2015-12-11  195750.00  196356.88  194500.00  195756.87     316
2015-12-14  195620.00  198212.00  195270.00  198040.00     381
2015-12-15  199600.00  203320.01  199400.00  202439.97     510
2015-12-16  203460.00  204100.00  199939.00  203800.00     604
2015-12-17  203600.00  204000.00  200920.00  201000.00     216
2015-12-18  199161.00  199400.00  194720.00  194720.00     571
2015-12-21  196398.00  197499.50  194500.00  196801.00     445
2015-12-22  197798.00  199920.00  196680.01  199680.00     532
2015-12-23  200000.00  203600.00  199860.00  200000.00     451
2015-12-24  201035.00  201624.00  200225.00  201137.00      43
2015-12-28  200200.00  200200.00  198800.00  199876.00     320
2015-12-29  200500.00  201800.00  199480.00  200050.00     397
2015-12-30  200520.00  201150.00  199740.00  200081.00     262
2015-12-31  199220.00  200000.00  197800.00  197800.00     303

[2784 rows x 5 columns]